.about {
    padding: 144px 0;
    &__title {
        max-width: 1070px;
    }
    &__descr {
        margin-top: 12px;
        max-width: 1070px;
    }
    &__wrapper {
        margin-top: 78px;
    }
}