.footer {
    padding: 162px 0 82px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__copyright {
        font-size: 20px;
        letter-spacing: 0.04em;
        color: #1F1F1F;
        opacity: 0.7;
    }
    &__nav {
        display: flex;
        align-items: center;
        column-gap: 104px;
    }
    &__email {
        a {
            text-decoration: none;
            font-size: 20px;
            letter-spacing: 0.04em;
            color: #1F1F1F;
            opacity: 0.7;
        }
    }
    &__socials {
        display: flex;
        column-gap: 26px;
        a {
            text-decoration: none;
        }
    }
}